/* styles.css */

/* Body and Typography */
body {
    background-color: #E5E5E5; /* Light Gray */
    color: #000000; /* Black */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



h1 {
    color: #E5E5E5;
}

h2 {
    color: #000000; /* Black */
}

/* Header */
header {
    background-color: #14213D; /* Navy Blue */
    color: #FFFFFF; /* White */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #FFFFFF; /* White */
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #FCA311; /* Orange */
    color: #14213D; /* Navy Blue */
}

/* Main Content */
main {
    padding: 20px;
    flex-grow: 1;
}

.about {
    margin-bottom: 30px;
}

.get-started .button {
    background-color: #FCA311; /* Orange */
    color: #FFFFFF; /* White */
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.get-started .button:hover {
    background-color: #14213D; /* Navy Blue */
    color: #FFFFFF; /* White */
}

/* Footer */
footer {
    background-color: #000000; /* Black */
    color: #FFFFFF; /* White */
    padding: 20px;
    text-align: center;
}

/* Responsive Styles */

/* Adjustments for Desktop Screens */
@media screen and (min-width: 1024px) {
    main {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* Adjustments for Tablet Screens */
@media screen and (max-width: 1023px) {
    main {
        max-width: 768px;
        margin: 0 auto;
    }
}

/* Adjustments for Mobile Screens */
@media screen and (max-width: 767px) {
    main {
        max-width: 90%;
        margin: 0 auto;
    }
}
